@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron jumbotron-fluid bg-danger">
    <div class="container">
        <h1 class="display-4 text-white">Oh, no!</h1>
        <p class="lead text-white">Ha sucedido un error inesperado, favor de intentar más tarde.</p>
    </div>
</div>